local.props
!local.props.template



.godot/
bin/
obj/
/android/
.git/
.idea/
.vs/
publish/
Properties/
packages/
.editorconfig
*.uid
*.user
*.import
.vscode/*
/.dotnet
.directory

docs/
runs/

.superpowers/

unseeded_*/
